#home-page {
    height: 100vh;
    padding-top: 10%;
    background-image: url("../../media/grey-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-main-title {
    margin-bottom: 8%;
    font-size: 8vh;
    margin-top: -2%;
    -webkit-text-stroke: 2px black;
}

#left-panel {
    margin-left: -40%;
    margin-bottom: -35%;
}

#profile-pic {
    padding: 0.5%;
    background: rgb(0,0,0);
    background: linear-gradient(152deg, rgba(0,0,0,1) 0%, rgba(61,3,3,1) 10%, rgba(88,4,4,1) 19%, rgba(59,6,6,1) 34%, rgba(126,18,18,1) 45%, rgba(52,6,6,1) 61%, rgba(120,17,17,1) 81%, rgba(27,1,1,1) 93%, rgba(0,0,0,1) 100%);
    border: 7px solid black;
}

#right-panel {
    margin-left: 50%;
    width: 45%;
    height: 32vh;
    background: rgb(0,0,0);
    background: linear-gradient(152deg, rgba(0,0,0,1) 0%, rgba(61,3,3,1) 10%, rgba(88,4,4,1) 19%, rgba(59,6,6,1) 34%, rgba(126,18,18,1) 45%, rgba(52,6,6,1) 61%, rgba(120,17,17,1) 81%, rgba(27,1,1,1) 93%, rgba(0,0,0,1) 100%);
    border: 5px solid black;
}

#section-title {
    font-size: 3.75vh;
    text-decoration: underline;
}

#bio-content {
    margin-left: 5%;
    width: 90%;
    font-size: 2.75vh;
    line-height: 1.5;
}

#skills-panel-right {
    margin-top: 2%;
    margin-bottom: -23.75%;
    width: 23%;
    height: 35vh;
    margin-left: 50%;
    background: rgb(0,0,0);
    background: linear-gradient(152deg, rgba(0,0,0,1) 0%, rgba(61,3,3,1) 10%, rgba(88,4,4,1) 19%, rgba(59,6,6,1) 34%, rgba(126,18,18,1) 45%, rgba(52,6,6,1) 61%, rgba(120,17,17,1) 81%, rgba(27,1,1,1) 93%, rgba(0,0,0,1) 100%);
    border: 5px solid black;
}

#skills-bio {
    font-size: 2.75vh;
    line-height: 1.5;
}

#skills-panel-left {
    margin-top: 6%;
    width: 20%;
    height: 35vh;
    margin-left: 75%;
    background: rgb(0,0,0);
    background: linear-gradient(152deg, rgba(0,0,0,1) 0%, rgba(61,3,3,1) 10%, rgba(88,4,4,1) 19%, rgba(59,6,6,1) 34%, rgba(126,18,18,1) 45%, rgba(52,6,6,1) 61%, rgba(120,17,17,1) 81%, rgba(27,1,1,1) 93%, rgba(0,0,0,1) 100%);
    border: 5px solid black;
}

#skills-list {
    text-align: left;
}

#skills-left {
    width: 45%;
    margin-left: 20%;
}

#skills-content-left {
    line-height: 1.5;
}

#skills-right {
    width: 50%;
    margin-left: 35%;
    margin-top: -38%;
}

#skills-content-right {
    margin-left: 60%;
    line-height: 1.5;
}